<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aviraxp.adblocker.continued"
    android:installLocation="internalOnly">

    <application>

        android:label="s"



        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="www" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>

</manifest>